<table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Numero</th>
        <th scope="col">Département</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{emp.id}}</td>
            <td>{{emp.employeeLastName}}</td>
            <td>{{emp.employeeFirstName}}</td>
            <td>{{emp.employeePhone}}</td>    
            <td>{{emp.department.departmentName}}</td>         
          
            <td> <button class="btn btn-outline-info btn-sm fa fa-edit">Modifier</button></td>
            <td><button class="btn btn-outline-danger btn-sm fa fa-remove">Supprimer</button></td>
        
        </tr>  
    </tbody>
  </table>
  <pagination-controls
   previousLabel="Precedent"
   nextLabel="Suivant"
   [responsive]="true"
   (pageChange)="handlePageChange($event)"
  >
  </pagination-controls>
  <ul>
     <li 
      class="list-group-item"
     *ngFor="let e of employees | paginate : {
        itemsPerPage:PAGESIZE,
        currentPage:PAGE,
        totalItems:count
     }; let i = index "     
     [class.active]= "i === CURRENTINDEX"
     >
    </li>
  </ul>
